---
const name = Astro.params.name;
import MainLayout from "../../layout/MainLayout.astro";
import Sections from "../../database/sections.json";

export async function getStaticPaths() {
  return [
    Sections.map((ele) => {
      return {
        params: {
          name: ele,
        },
      };
    }),
  ];
}
---

<MainLayout title={`PIB - ${name}`}>
  <main>
    {name}
  </main>
</MainLayout>
