@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Poppins:wght@300&family=Roboto&family=Roboto+Mono&family=Splash&family=Ubuntu:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  text-overflow: ellipsis;
  /* color: var(--primary-3); */
}



.btn {
  padding: 0.3rem 0.5rem;
  outline: none;
  border: none;
  text-decoration: none;
  background: var(--primary-3);
  color: var(--primary-4);
  border-radius: 0.3rem;
  transition: all 0.1s ease-in-out;
  &:hover{
    opacity: 0.8;
  }
}

main {
  width: 100vw;
  height: 100vh;
  padding-left: 20rem;
  padding-right: 3rem;
  padding-bottom: 7rem;
  padding-top: 5rem;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.details {
  width: 100vw;
  height: 100vh;
  padding-left: 20rem;
  padding-right: 3rem;
  padding-bottom: 7rem;
  padding-top: 5rem;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

#websiteUrl {
  position: absolute;
  margin-left: 20rem;
  top: 1rem;
  font-size: 1.7rem;
  width: 30rem;
  text-overflow: ellipsis;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --primary-1: #03001C;
  --primary-2: #301E67;
  --primary-3: #5B8FB9;
  /* --primary-3: #9c83ea; */
  --primary-4: #B6EADA;
  --sidenav: #03001Cce;
  --gradient: #182840;
}

.dark {
  --primary-1: #03001C;
  --primary-2: #301E67;
  --primary-3: #5B8FB9;
  --primary-4: #B6EADA;
  --sidenav: #03001Cce;
  --gradient: #182840;
}

/* Light theme */
.light {
  --primary-1: #FAF8F1;
  --primary-2: #FAEAB1;
  --primary-3: #E5BA73;
  --primary-4: #C58940;
  --sidenav: #FAF8F1ce;
  --gradient: #f7b2ff;
}
.neon {
  --primary-1: #793FDF;
  --primary-2: #7091F5;
  --primary-3: #97FFF4;
  --primary-4: #4A125D;
  --sidenav: #793FDFce;
  --gradient: #e600ff;
}