@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Poppins:wght@300&family=Roboto&family=Roboto+Mono&family=Splash&family=Ubuntu:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', monospace,sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  text-overflow: ellipsis;
  scrollbar-width: none;  // for hiding scrollbar
  /* color: var(--primary-3); */
  scroll-behavior: smooth;
}



.btn {
  padding: 0.3rem 0.5rem;
  outline: none;
  border: none;
  text-decoration: none;
  background: var(--primary-3);
  color: var(--primary-4);
  border-radius: 0.3rem;
  transition: all 0.1s ease-in-out;
  &:hover{
    opacity: 0.8;
  }
}

main {
  width: 100vw;
  height: 100vh;
  padding-left: 19rem;
  padding-right: 2rem;
  padding-bottom: 7rem;
  padding-top: 5rem;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.details {
  width: 100vw;
  height: 100vh;
  padding-left: 20rem;
  padding-right: 3rem;
  padding-bottom: 7rem;
  padding-top: 5rem;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

#websiteUrl {
  position: absolute;
  margin-left: 20rem;
  top: 1rem;
  font-size: 1.7rem;
  width: 30rem;
  text-overflow: ellipsis;
}

@media (max-width:800px){
  main{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .details{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #websiteUrl{
    margin-left: 2rem;
  }
}

.contributor-card{
  width: 15rem;
  height: 22rem;
  position: relative;
  background: transparent;
  backdrop-filter: blur(0.15rem);
  border: 1px dashed var(--primary-3);
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  transition:all 0.15s ease-in-out;
  overflow: hidden;
  text-decoration: none;
  color: var(--primary-3);
  &:hover{
    border: 1px solid var(--primary-3);
    box-shadow: 0 1px 1px 1px var(--primary-2);
  }
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    transition:all 0.15s ease-in-out;
    opacity: 0.7;
    border-radius: 0%;
    &:hover{
      border-radius: 50%;
      object-position: 0 0;
      opacity: .9;
    }
  }
  p{
    font-weight: 100;
  }
}


.link{
  transition: all 0.1s ease-in-out;
  &:hover{
    opacity: 0.7;
  }
}

i {
  font-size: 1.5rem;
}

::-webkit-scrollbar {
  display: none;
}

::selection{
  background: var(--primary-2);
  // text-shadow: 1px 1px 2px var(--sidenav);
}


:root {
  --primary-1: #03001C;
  --primary-2: #301E67;
  --primary-3: #5B8FB9;
  // --primary-3: #9c83ea;
  --primary-4: #B6EADA;
  --sidenav: #03001Cce;
  --gradient: #1c2f4b;
}


// canvas for Background Animations
.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transform: rotateZ(0deg);
  z-index: -1;
  // display: none;
}

// scroll to top
.scroll-to-top {
  position: fixed;
  bottom:1rem;
  right:2rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 3;
}

.show {
  opacity: 1;
}