// Themes 👇
// Code Below this point for themes
// Follow the style pattern
// Resource : https://colorhunt.co/ 

// by dev-AshishRanjan
.dark {
  --primary-1: #03001C;
  --primary-2: #301E67;
  --primary-3: #5B8FB9;
  --primary-3: #9c83ea;
  --primary-4: #B6EADA;
  --sidenav: #03001Cce;
  --gradient: #1c2f4b;
}

// by dev-AshishRanjan
.light {
  --primary-1: #bce3ffce;
  --primary-2: #e8aac5;
  --primary-3: #5B8FB9;
  --primary-4: #335168;
  --sidenav: #bce3ffce;
  --gradient: #f7acff;
}
// by dev-AshishRanjan
.cool {
  --primary-1: #016A70;
  --primary-2: #d2d2b8;
  --primary-3: #D2DE32;
  --primary-4: #3c3f0e;
  --sidenav: #016A70ce;
  --gradient: #0098a0;
}

// by dev-AshishRanjan
.neon {
  --primary-1: #793FDF;
  --primary-2: #7091F5;
  --primary-3: #97FFF4;
  --primary-4: #bfaaff;
  --sidenav: #793FDFce;
  --gradient: #e600ff;
}