// Themes 👇
// Code Below this point for themes
// Follow the style pattern
// Resource : https://colorhunt.co/

// by dev-AshishRanjan
.dark {
  --primary-1: #03001c;
  --primary-2: #301e67;
  --primary-3: #5b8fb9;
  --primary-3: #9c83ea;
  --primary-4: #b6eada;
  --sidenav: #03001cce;
  --gradient: #1c2f4b;
}

// by dev-AshishRanjan
.light {
  --primary-1: #bce3ffce;
  --primary-2: #e8aac5;
  --primary-3: #5b8fb9;
  --primary-4: #335168;
  --sidenav: #bce3ffce;
  --gradient: #f7acff;
}
// by dev-AshishRanjan
.cool {
  --primary-1: #016a70;
  --primary-2: #a3a38f;
  --primary-3: #d2de32;
  --primary-4: #3c3f0e;
  --sidenav: #016a70ce;
  --gradient: #0098a0;
}

// by sweep-ai
.darkCool {
  --primary-1: #013a46;
  --primary-2: #6a6a59;
  --primary-3: #a0a819;
  --primary-4: #26260a;
  --sidenav: #013a46ce;
  --gradient: #006560;
}

// by dev-AshishRanjan
.neon {
  --primary-1: #793fdf;
  --primary-2: #7091f5;
  --primary-3: #97fff4;
  --primary-4: #bfaaff;
  --sidenav: #793fdfce;
  --gradient: #e600ff;
}
