---
---

<div class="nav">
  <!-- <a href="/">Home</a> -->
  <div class="social-links">
    <a href="https://github.com/">
      <iconify-icon icon="devicon:github"></iconify-icon>
    </a>
  </div>
  <div class="nav-links">
    <a href="/contributors">Contributors</a>
    <a href="/contact">Contact</a>
    <select name="themes" id="themes" class="btn">
      <option value="dark" selected>Dark</option>
      <option value="light">Light</option>
      <option value="neon">Neon</option>
    </select>
  </div>
</div>

<style lang="scss">
  .nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 3;
    .social-links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      a {
        text-decoration: none;
        color: var(--primary-3);
        padding: 0.3rem;
      }
    }
    .nav-links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      a {
        text-decoration: none;
        color: var(--primary-3);
      }
      select {
        width: 8ch;
        text-overflow: ellipsis;
        option {
          font-weight: 100;
        }
      }
    }
  }
</style>

<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"
></script>

<script>
  const html = document.documentElement;
  const PIBtheme = localStorage.getItem("PIBtheme");
  if (PIBtheme === null) {
    localStorage.setItem("PIBtheme", "dark");
  }
  console.log({ PIBtheme });
  document.querySelector("#themes").value = PIBtheme;
  html.classList.add(PIBtheme);

  const select = document.querySelector("#themes");
  select.addEventListener("change", handleChange);

  const allClasses = (classes) => {
    const newClasses = [];
    for (const class_name of classes) {
      if (!class_name.includes("astro")) {
        newClasses.push(class_name);
      }
    }
    return newClasses;
  };

  function handleChange() {
    const selectVal = document.querySelector("#themes").value;
    console.log(selectVal);
    // const html = document.querySelector("html");
    const list: any = html.classList;
    var classes: any = html.classList;
    classes = allClasses(classes);
    classes.map((ele) => {
      html.classList.remove(ele);
    });
    html.classList.add(selectVal);
    console.log({ classes });
    localStorage.setItem("PIBtheme", selectVal);
  }

  // handleChange();
</script>
